body {
  font-size: 16px;  
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 0.7;
  line-height: 1.7;
}

.navbar-brand h2{
	  font-family: 'Lora', serif;
  color: #7f7e83;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.nav-item .nav-link span{
	font-size:18px;
	
}

.nav-item .nav-link span:hover{
	text-decoration: underline;
}

#my-navbar{
	justify-content: flex-end;
}

@media (max-width: 567px){
	.nav-item .nav-link{
		text-align:center;
	}
}